* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu {
    width: 100%;
    background-color: rgb(92, 90, 90);
    display: flex;
    justify-content: center;

}

.blanco {
    color: white;
}

h1 {
    position: relative;
    bottom: 500px;
    left: 1400px;
    color: white;
}

.textoimg1 {
    position: relative;
    bottom: 480px;
    left: 1100px;
    color: white;
}

.textoimg2 {
    position: relative;
    bottom: 490px;
    left: 1100px;
    color: white;

}

.textoimg3 {
    position: relative;
    bottom: 500px;
    left: 1125px;
    color: white;
}

.textoimg4 {
    position: relative;
    bottom: 510px;
    left: 1115px;
    color: white;
}

.textoimg5 {
    position: relative;
    bottom: 520px;
    left: 1305px;
    color: white;
}

.buttonsimg {
    position: relative;
    bottom: 520px;
    left: 1225px;
    color: white;
}

.boton1img {
    background-color: none;
    color: white;
    border: white solid 0.5px;
}

.boton2img {
    background-color: green;
    color: white;
}

.sectionmain {
    width: 90%;
    display: flex;
    justify-content: center;
}

.Logocodo {
    display: flex;
    justify-content: center;
}

.brillo {
    width: 100%;
    filter: brightness(55%);
}

.gris {
    color: rgb(185, 185, 185);
}

.verde {
    color: rgb(0, 151, 0);
}

.titulomain {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titcards {
    display: flex;
    justify-content: flex-start;
}

.Javascript {
    background-color: rgb(245, 174, 43);
    border-radius: 5px;
    margin: 5px;
}

.React {
    background-color: rgb(68, 201, 245);
    border-radius: 5px;
    margin: 5px;
    color: white;
}

.negocios {
    background-color: gray;
    border-radius: 5px;
    margin: 5px;
    color: white;
}

.Startups {
    background-color: red;
    border-radius: 5px;
    margin: 5px;
    color: white;
}

.sectionmaindos {
    width: 90%;

}

.Honolulu {
    margin-top: 50px;
    position: relative;
    right: 200px;
    width: 850px;
    height: 80%;
}

.container2 {
    margin-top: 50px;
    width: 1020px;
    height: 80%;
    background-color: rgb(68, 68, 68);
    padding: 20px;
    color: white;
}

.tituloform {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    position: relative;
    top: 50px;
}

.titulorador {
    font-size: 30px;
    font-weight: bolder;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 50px;
}

.inputs {
    width: 400px;
    margin-left: 20px;
    margin-top: 30px;
}

.formulario2 {
    position: relative;
    bottom: 80px;
    display: flex;
    justify-content: center;
}

.texarea {
    width: 800px;
}

.botonformulario {
    display: flex;
    justify-content: center;
}

.botonverde {
    width: 800px;
    background-color: rgba(160, 238, 44, 0.863);
    border: none;
    margin-bottom: 30px;
    position: relative;
    bottom: 80px;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #284b63;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.lifooter {
    margin-top: 30px;
}

@media (max-width: 576px) {
    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        width: 100%;
    }

    main {
        width: 100%;
    }

    h1 {
        width: 100px;
        position: relative;
        bottom: 200px;
        left: 300px;
        color: white;
        font-size: medium;
    }

    .brillo {
        width: 100%;
        filter: brightness(55%);
        text-align: center;
    }

    .textoimg1 {
        width: 410px;
        position: relative;
        bottom: 200px;
        left: 15px;
        color: white;
        font-size: small;
    }

    .textoimg2 {
        width: 405px;
        position: relative;
        bottom: 220px;
        left: 18px;
        color: white;
        font-size: small;
    }

    .textoimg3 {
        width: 385px;
        position: relative;
        bottom: 240px;
        left: 38px;
        color: white;
        font-size: small;
    }

    .textoimg4 {
        width: 395px;
        position: relative;
        bottom: 260px;
        left: 27px;
        color: white;
        font-size: small;
    }

    .textoimg5 {
        width: 235px;
        position: relative;
        bottom: 280px;
        left: 185px;
        color: white;
        font-size: small;
    }

    .buttonsimg {
        width: 220px;
        position: relative;
        bottom: 280px;
        left: 200px;
        color: white;
        font-size: small;
    }

    .boton1img {
        width: 100px;
        background-color: none;
        color: white;
        border: white solid 0.5px;
        font-size: small;
    }

    .boton2img {
        width: 100px;
        background-color: green;
        color: white;
        font-size: small;
    }

    .titulomain {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        bottom: 210px;
    }

    .sectionmain {
        width: 300px;
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 180px;
        left: 55px;
        gap: 10px;
    }

    .Honolulu {
        margin-top: 50px;
        position: relative;
        width: 100%;
        left: 2px;
    }

    .container2 {
        margin-top: 50px;
        width: 100%;
        height: 90%;
        background-color: rgb(68, 68, 68);
        padding: 20px;
        color: white;
        position: relative;
        bottom: 50px;
    }

    .tituloform {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        position: relative;
        bottom: 150px;
        left: 20px;
    }

    .textoform {
        font-size: x-small;
        text-align: justify;
    }

    .inputs {
        width: 150px;
        margin-left: 20px;
        margin-top: 30px;
        position: relative;
        bottom: 50px;
        left: 20px;
    }

    .texarea {
        width: 300px;
        position: relative;
        left: 20px;
    }

    .botonverde {
        width: 300px;
        background-color: rgba(160, 238, 44, 0.863);
        border: none;
        margin-bottom: 30px;
        position: relative;
        bottom: 80px;
        left: 20px;
    }

    footer {
        width: 100%;
        height: 400px;
        background-color: #284b63;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    form {
        width: 80%;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        width: 100%;
    }

    main {
        width: 100%;
    }

    h1 {
        width: 100px;
        position: relative;
        bottom: 200px;
        left: 600px;
        color: white;
        font-size: medium;
    }

    .brillo {
        width: 100%;
        filter: brightness(55%);
        text-align: center;
    }

    .textoimg1 {
        width: 420px;
        position: relative;
        bottom: 200px;
        left: 280px;
        color: white;
        font-size: small;
    }

    .textoimg2 {
        width: 420px;
        position: relative;
        bottom: 220px;
        left: 282px;
        color: white;
        font-size: small;
    }

    .textoimg3 {
        width: 400px;
        position: relative;
        bottom: 240px;
        left: 300px;
        color: white;
        font-size: small;
    }

    .textoimg4 {
        width: 400px;
        position: relative;
        bottom: 260px;
        left: 288px;
        color: white;
        font-size: small;
    }

    .textoimg5 {
        width: 250px;
        position: relative;
        bottom: 280px;
        left: 445px;
        color: white;
        font-size: small;
    }

    .buttonsimg {
        width: 250px;
        position: relative;
        bottom: 280px;
        left: 450px;
        color: white;
        font-size: small;
    }

    .boton1img {
        width: 100px;
        background-color: none;
        color: white;
        border: white solid 0.5px;
        font-size: small;
    }

    .boton2img {
        width: 100px;
        background-color: green;
        color: white;
        font-size: small;
    }

    .titulomain {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        bottom: 210px;
    }

    .sectionmain {
        width: 400px;
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 180px;
        left: 200px;
        gap: 10px;
    }

    .Honolulu {
        margin-top: 50px;
        position: relative;
        width: 100%;
        left: 10px;
    }

    .container2 {
        margin-top: 50px;
        width: 100%;
        height: 90%;
        background-color: rgb(68, 68, 68);
        padding: 20px;
        color: white;
        position: relative;
        bottom: 50px;
        left: 10px;
    }

    .tituloform {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        position: relative;
        bottom: 150px;
        left: 50px;
    }

    .textoform {
        font-size: x-small;
        text-align: justify;
    }

    .inputs {
        width: 150px;
        margin-left: 20px;
        margin-top: 30px;
        position: relative;
        bottom: 50px;
        left: 50px;
    }

    .texarea {
        width: 300px;
        position: relative;
        left: 50px;
    }

    .botonverde {
        width: 300px;
        background-color: rgba(160, 238, 44, 0.863);
        border: none;
        margin-bottom: 30px;
        position: relative;
        bottom: 80px;
        left: 50px;
    }

    .texthelp {
        position: relative;
        left: 50px;
    }

    footer {
        width: 100%;
        height: 400px;
        background-color: #284b63;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    form {
        width: 80%;
    }
}

